[:root
 [:object_name "User"]
 [:object_id "234234"]
 [:object
  [:field_list
   [:field
    [:field_name "one"]
    [:object
     [:field_list
      [:field [:field_name "sub1"]]
      [:field [:field_name "sub2"]]]]]
   [:field [:field_name "two"]]
   [:field [:field_name "three"]]
   [:field [:field_name "four"]]]]]